:root {
    font-size: 16px;
    --first-color: rgb(246, 246, 246);   
    --second-color: #ffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
}

.project-form {
    padding: 32px 144px 0px 40px;
 
}

.header-section {
    height: 250px;
    width: 100%;
    background-color: var(--first-color);
    padding: 20px 144px 30px 45px;

}
.first-para {
    margin-bottom: 2rem;
}
.second-para {
margin-bottom: 3rem;

}
.first-para,
 .second-para {
    font-size: 1.2rem;
    font-weight: 300;
}

.form-section {
    background-color: var(--second-color);
}
.project-form {
    display: grid;
    grid-template-columns: 265px 250px;
}
.form-row {
    width: 250px;
    margin-bottom: 20px;
}
.form-row input {
    font-size: 1.2rem;
    width: 15rem;
    border-radius: 5.5px;

}
.form-row label {
    font-size: .7rem;
    letter-spacing: 1.7px;
    font-weight: 300;
    width: 120px;
    padding-right: 20px;
}
.last-section {
    background-color: white;

}

.myButton {
    border: none;


    box-shadow: 0;
    border-radius: 5.5px;
    color: white;
    background-color: #596D48;
    font-size: 0.9rem;
    font-weight: 800;

    height: 45px;
    width: 190px;
    margin: 30px 0px 0px 40px;

}
.myButton:active {
    background-color: #829e68;

}
.login {
    margin: 26px 0px 0px 40px;
}
input{
    border: none;
    outline: none;
    border: 2px solid #E5E7EB;
}

input[type='text']:focus,
input[type='email']:focus, 
input[type='tel']:focus,
input[type='password']:focus {

    border: none;
    border: 2px solid#002efc;
}

body {
    background-color: #E5E7EB;
}

header{
    margin-top: 50px;
}

.right-section {
    background-color: var(--first-color);
}


figure {
    display: inline-block;
    position: relative;
}
figure img {
    display: block;
    width: 500px;
}

figure figcaption{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
figure figcaption img {
    height: 75px;
    margin: auto;

}


h3 {
    margin-bottom: 20px;
}

a.login-link:visited {
    color:  #596D48
}
/*
body {
    display: flex;
    flex-direction: row;
}
.side-background {
    display: flex;
}
.legend {
    background-color: black;
    opacity: 50;
    width: 40px;
    height: 40px;
}
.form-section {
    background-color: red;
}
.odin-form {
    width: 150vh;
    border: None;    

}
*/